<div class="row mb-3">
  <div class="col-lg">
    <div class="btn-circular" [inlineSVG]="'/assets/images/icon-left.svg'" (click)="navigateBack()"></div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        {{title}}
      </div>
      <div class="card-block">
        <input [(ngModel)]="bulletPage.name"/>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg">
    <div class="btn-circular" [inlineSVG]="'/assets/images/icon-save.svg'" (click)="saveBulletPage()"></div>
  </div>
</div>
