<div class="row header mb-3">
  <div class="col-lg">
    <h1>Flashcards > Add</h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col-lg">
    <div class="card">
      <div class="card-header">Add New Flashcard</div>
      <div class="card-block p-0">
        <textarea [(ngModel)]="currentFlashcard.question" class="no-border" name="question" placeholder="Enter your question here..."></textarea>
      </div>
    </div>
  </div>
  <div class="col-lg">

  </div>
</div>

<div class="row">
  <div class="col-lg">
    <div (click)="saveFlashcard()" class="btn-circular" [inlineSVG]="'/assets/images/icon-save.svg'"></div>
  </div>
</div>
