<div class="row mb-3">
  <div class="col-lg">
    <div class="btn-circular mr-3" [inlineSVG]="'/assets/images/icon-left.svg'" (click)="navigateBack()"></div>
    <div class="btn-circular mr-3" [inlineSVG]="'/assets/images/icon-add.svg'" routerLink="bullet/0/edit"></div>
    <div class="btn-circular" [inlineSVG]="'/assets/images/icon-edit.svg'"
         [routerLink]="['/bullets/bullet-pages', currentBulletPage?.id, 'edit']"></div>
  </div>
</div>
<div class="page-title">{{title}}</div>
<div class="row mb-3">
  <div class="col-lg">
    <div class="bullet" *ngFor="let bullet of bullets">{{bullet.text}}</div>
  </div>
</div>
