<div class="row mb-3">
  <div class="col-lg-12">
    <div class="btn-circular" routerLink="../browse" [inlineSVG]="'/assets/images/icon-left.svg'"></div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-lg-6">
    <div class="card" *ngIf="currentMcq">
      <div class="card-block">
        <span style="">Q: </span>{{currentMcq?.question}}
      </div>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-block options-container">
        <div *ngFor="let option of currentMcq?.options">
          <div class="d-flex align-items-center option" [class.last-item]="last-option">
            <div class="btn-correct-icon mr-2" [inlineSVG]="'/assets/images/icon-correct.svg'"></div>
            <span>{{option.text}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6">
    <div class="btn-circular" [inlineSVG]="'/assets/images/icon-right.svg'"></div>
  </div>
</div>

