@import "../../../node_modules/sass-material-design-colors/palette";

$card-header-color: $blue-grey-900;
$card-header-font-color: $blue-grey-100;
$app-background-color: $blue-grey-50;

$brand-primary: $deep-orange-800;
//$app-secondary-accent:

$header-background-color: white;
$border-color: $grey-600;
$heading-font-color: $grey-800;
